.category-item {
  &__post-list {
    list-style: none;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__remove-btn {
    margin-left: auto;
    border-radius: 50%;
    transform: scale(0.9);
  }
}