.header {
  &__nav {
    flex-direction: row;
    margin-left: auto;
  }

  &__nav-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;

      &::after {
        content: '/';
        color: $silver;
      }

      .header__nav-link {
        display: inline-flex;
        margin-right: 10px;
      }
    }
  }
}